@using Work.Domain.Entities
@using Work.Domain;
@model IQueryable<ServiceItem>
    
    <div class="col-6 col-12-medium">
        <h2>
            Расход <a asp-controller="ServiceItems" asp-action="EditOut" asp-route-id="">Добавитьь</a>
        </h2>


        @if (Model.Any())
        {
            <div>
                @foreach (ServiceItem entity in Model)
                {
                    @if (entity.Type == false)
                    {

                        <div>

                            <p>
                                <a asp-area="" asp-controller="ServiceItems" asp-action="Index" asp-route-id="@entity.Id"> @($"{entity.DateAdded}")</a>
                                | @($"{entity.Sum}") | @($"{entity.Category}")
                                    |
                                    <a asp-controller="ServiceItems" asp-action="EditOut" asp-route-id="@entity.Id">редактировать</a>

                                    <form style="display: inline-block;" id="form-@entity.Id" asp-controller="ServiceItems" asp-action="DeleteOut" method="post">
                                        <input type="hidden" name="id" value="@entity.Id">
                                        <a href="#" onclick="document.getElementById('form-@entity.Id').submit();">удалить</a>
                                    </form>

</p>

                        </div>

                    }
                }
            </div>
        }
    </div>
           <div class="col-6 col-12-medium">
               <h2>
                   Доход <a asp-controller="ServiceItems" asp-action="Edit" asp-route-id="">Добавитьь</a>
               </h2>


               @if (Model.Any())
               {
                   <div>
                       @foreach (ServiceItem entity in Model)
                       {
                           @if (entity.Type == true)
                           {

                           <div>

                               <p>
                                   <a asp-area="" asp-controller="ServiceItems" asp-action="Index" asp-route-id="@entity.Id">
                                       @($"{entity.DateAdded}")
                                   </a>
                                   | @($"{entity.Sum}") | @($"{entity.Category}")
                                   |
                                   <a asp-controller="ServiceItems" asp-action="Edit" asp-route-id="@entity.Id">редактировать</a>

                                   <form style="display: inline-block;" id="form-@entity.Id" asp-controller="ServiceItems" asp-action="Delete" method="post">
                                       <input type="hidden" name="id" value="@entity.Id">
                                       <a href="#" onclick="document.getElementById('form-@entity.Id').submit();">удалить</a>
                                   </form>

                               </p>

                           </div>

                              }
                          }
                   </div>
               }
           </div>
